body {
  width: 88%;
  margin: 0 auto;
}

.header {
  padding: 2rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding-top: 6px;
  font-family: var(--font-kalam);
  font-size: var(--text-xl);
  font-weight: bold;
  color: var(--text-secondary-color);
}

.header__links {
  display: flex;
  gap: 2rem;
}

.header__link {
  font-size: var(--text-base);
  color: var(--text-secondary-color);
  text-decoration: none;
}

.main__header {
  margin-top: 2rem;
}

.main__title {
  font-size: var(--text-5xl);
  color: var(--text-color);
}

.main__subtitle {
  font-size: var(--text-lg);
  color: var(--text-secondary-color);
}

.tag__section {
  margin-top: 4rem;
}

.label__tag {
  color: var(--border-gray);
  font-size: var(--text-base);
}

.main__tags {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.main__tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--border-gray-dark);
  border-radius: 50px;
  font-size: var(--text-base);
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}

.count__blogs {
  margin-left: .6rem;
  color: var(--text-tertiary-color);
  font-weight: 400;
}

.footer {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.footer__text {
  font-size: var(--text-base);
  color: var(--text-secondary-color);
  text-align: center;
}

.link {
  color: var(--text-color);
  text-decoration: none;
}