body {
  width: 88%;
  margin: 0 auto;
}

.header {
  padding: 2rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding-top: 6px;
  font-family: var(--font-kalam);
  font-size: var(--text-xl);
  font-weight: bold;
  color: var(--text-secondary-color);
}

.header__links {
  display: flex;
  gap: 2rem;
}

.header__link {
  font-size: var(--text-base);
  color: var(--text-secondary-color);
  text-decoration: none;
}

.main__header {
  margin-top: 2rem;
}

.main__title {
  font-size: var(--text-5xl);
  color: var(--text-color);
}

.main__subtitle {
  font-size: var(--text-lg);
  color: var(--text-secondary-color);
}

.main__blogs {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.blog {
  border-bottom: 1px solid var(--border-gray);
  padding-bottom: 0.8rem;
}

.blog:last-child {
  border-bottom: none;
}

.blog__header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: space-between;
}

.blog__link {
  text-decoration: none;
}

.blog__title {
  font-size: var(--text-lg);
  color: var(--text-color);
}

.blog__date {
  font-size: var(--text-sm);
  color: var(--border-gray);
}

.footer {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.footer__text {
  font-size: var(--text-base);
  color: var(--text-secondary-color);
  text-align: center;
}

@media (hover: hover) {
  .header__logo:hover {
    color: var(--color-primary);
  }

  .header__link:hover {
    color: var(--color-primary);
  }

  .blog:hover p {
    color: var(--color-primary);
  }
}

@media (width < 320px) {
  .header {
    gap: 0.2rem;
  }

  .header__links {
    gap: 0.8rem;
  }
}

@media (width > 700px) {  
  .header__logo {
    font-size: var(--text-3xl);
  }

  .header__link {
    font-size: var(--text-xl);
  }

  .main__title {
    font-size: var(--text-6xl);
  }

  .main__subtitle {
    font-size: var(--text-xl);
  }

  .blog__header {
    flex-direction: row;
    align-items: center;
  }

  .blog__title {
    text-wrap: pretty;
    font-size: var(--text-2xl);
  }

  .blog__date {
    text-align: end;
    text-wrap: balance;
    font-size: var(--text-lg);
  }

  .footer__text {
    font-size: var(--text-lg);
  }
}

@media (width > 1000px) {
  body {
    width: 70%;
  }
}